name: Build macOS

on:
  workflow_dispatch:

jobs:
  build-macos:
    name: Build macOS App
    runs-on: macos-13

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Set Up Flutter
        uses: subosito/flutter-action@v2.14.0
        with:
          flutter-version: '3.38.3'
          channel: 'stable'

      - name: Enable macOS Desktop
        run: flutter config --enable-macos-desktop

      - name: Install Dependencies
        run: flutter pub get

      - name: Build macOS App (Release)
        run: flutter build macos --release

      - name: Upload macOS App Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: macos-release-app
          path: build/macos/Build/Products/Release/
