name: Build Android

on:
    workflow_dispatch:
    workflow_call:
        secrets:
            KEYSTORE_BASE64:
                required: true
            KEYSTORE_PASSWORD:
                required: true
            KEY_PASSWORD:
                required: true
            KEY_ALIAS:
                required: true

jobs:
    build-android:

        name: Build Android APK and App Bundle
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup Java
              uses: actions/setup-java@v1
              with:
                java-version: "17.x"

            - name: Setup Flutter
              uses: subosito/flutter-action@v2.14.0
              with:
                flutter-version: 3.38.3
                channel: stable

            - name: Show Flutter Version
              run: flutter --version

            - name: Enable Android Support
              run: flutter config --enable-android

            - name: Clean Build
              run: flutter clean

            - name: Install Dependencies
              run: flutter pub get

            - name: Generate Keystore
              run: |
                  echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > ./android/ChaveLancamentoAndroid.jks

            - name: Generate keystore.properties
              run: |
                  echo "storeFile=../ChaveLancamentoAndroid.jks" > android/keystore.properties
                  echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" >> android/keystore.properties
                  echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/keystore.properties
                  echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/keystore.properties
                  cat android/keystore.properties


            - name: Build App Bundle
              run: flutter build appbundle --release

            - name: Upload App Bundle Artifact
              uses: actions/upload-artifact@main
              with:
                name: android-app-bundle
                path: build/app/outputs/bundle/release/app-release.aab

            - name: Build APK
              run: flutter build apk --release

            - name: Upload APK Artifact
              uses: actions/upload-artifact@main
              with:
                name: android-apk
                path: build/app/outputs/flutter-apk/app-release.apk
